.output {
    color: rgb(128, 255, 187);
    font-family: Cascadia Code;
    margin: 4px;
}

.true {
    color: rgb(255, 98, 140);
}

.plusBtn {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    font-size: 18pt;
    margin: 16px;
}